@import url(http://fonts.googleapis.com/css?family=Archivo+Narrow);
body {
   background-color: #FFFFFF;
}
h1, h2, h3 {
    font-family: 'Archivo Narrow', sans-serif;
}
#content {
    position:fixed;
    background-color:#cccccc;
    display:block;
}
#menu {
    position:fixed;
    left:-250px;
    display:block;
    background-color:#868686;
}
.banner {
    background-color: #C0C0C0;
    color: #000000;
    height: 100px;
}
.banner h1 {
    font-size: 50px;
    line-height: 50px;
}
.main-frame {
    background-color: #FFF;
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    margin-top: -30px;
}
.search-box {
    line-height: 50px;
    background-color: #FFF;
    color: #00000;
    margin-bottom: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
.search-box label {
    font-weight: bold;
    margin-left: 10px;
}

.question-list {
    list-style: none;
    margin: 0px;
}

.question-list h3 {
    margin-top: 0px;
}

.question-list .ratings {
    line-height: 30px;
    text-align: center;
    background-color: #333;
    color: #FFF;
    margin-top: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.question-list .fulldate {
    margin: 5px;
}

.question-list li {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: dotted 1px #5dace9;
}

.question-list li:last-child {
    border-bottom: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.show-info {
    list-style: none;
    margin: 0px;
    padding: 10px;
    background-color: #e1e1e1;
    color: #333;
    font-size: 16px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.show-info li {
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: solid 1px #CCC;
    line-height: 40px;
}

.show-info li:last-child {
    border-bottom: none;
}

.show-info .genre {
    margin-right: 5px;
    cursor: pointer;
}