<!DOCTYPE html>
<html>
<head>
	<title>Q & A</title>
	<!-- INCLUDE REQUIRED THIRD PARTY LIBRARY JAVASCRIPT AND CSS -->
	
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-responsive.min.css">

	<!-- INCLUDE APPLICATION SPECIFIC CSS AND JAVASCRIPT -->
	
	
    <link rel="stylesheet" type="text/css" href="css/assets/jquery.gridster.css">
	<link rel="stylesheet" href="css/main.css">
    <script src="https://cdn.firebase.com/js/client/1.0.6/firebase.js"></script>
    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js"></script>
    <script type="text/javascript" src="js/qandaapp/app.js"></script>
	<script type="text/javascript" src="js/qandaapp/controllers/mainController.js"></script>

</head>
<body>

    <div class='banner'>
        <div class='container'>
            <h1>Q & A</h1>
        </div>
    </div>
	<div class="container main-frame" ng-app="QandAapp" ng-controller="mainController" ng-init="init()">
        <div class="search-box row-fluid form-inline">
            <label>Filter:</label>
            <input type="text" ng-model="filterText">
            <label>Network: </label>
            <select ng-model="networkFilter" ng-options="label for label in availableNetwork">
                 <option value="">QandA</option>
            </select>
            <label>Order by: </label>
                <select ng-model="orderReverse"class="input-medium">
              <option value="true">Popular</option>
               <option value="false">Newest</option>
            </select>
            <a class="list-icon pull-right" ng-class="{active: layout == 'list'}" ng-click="layout = 'list'"></a>
            <a class="grid-icon pull-right" ng-class="{active: layout == 'grid'}" ng-click="layout = 'grid'"></a>
        </div>

        <div class="results-top"></div>
        <div class="results-container">
            <ul class="question-list">
                <!-- <li ng-repeat="Questions in results"> -->
               <div class="row-fluid">
                

                   <ul ng-show="layout == 'grid'" class="grid">
                    
                    <div class="span7">
                    <li ng-repeat="q in questions">
                          <ul class="question-info">
                            <h3><strong>{{q.Q}}</strong></h3> 
                            <p>asked by Bhanu Peddi <span class="circular pull-right"><img src="http://www.ideachampions.com/weblogs/strange-albert-einstein.jpg"  /></span></p>
                            <h3>{{q.Q.A1.A}}</h3>
                          </ul>
                        </li>
                      
                      <li ng-repeat="q in questions">
                          <ul class="question-info">
                            <h3><strong>{{q.Q}}</strong></h3> 
                            <p>asked by Bhanu Peddi <span class="circular pull-right"><img src="http://www.ideachampions.com/weblogs/strange-albert-einstein.jpg"  /></span></p>
                          </ul>
                        </li></div>
                    <div class="span4" > 
                      <!-- A view with big photos and no text -->
                     <li ng-repeat="q in questions">
                       <ul class="impquestion-info">
                          <h3><strong>{{q.Q}}</strong></h3> 
                          <p>asked by Bhanu Peddi <span class="circular pull-right"><img src="http://www.ideachampions.com/weblogs/strange-albert-einstein.jpg"  /></span></p>
                       </ul>
                     </li>
                    </div>
                </ul>
            
        
        
                <ul ng-show="layout == 'list'" class="list">
                  <!-- A compact view smaller photos and titles -->
                  <div class="span3"></div>
                  <div class="span7">
                    <li ng-repeat="q in questions">
                       <ul class="impquestion-info">
                          <h3><strong>{{q.Q}}</strong></h3> 
                          <p> asked by Bhanu Peddi<span class="circular pull-left"><img src="http://www.ideachampions.com/weblogs/strange-albert-einstein.jpg"  /></span></p>
                          <h3>{{q.Q.A1.A}}</h3>
                       </ul>
                     </li>
                   <li ng-repeat="q in questions">
                     <ul class="question-info">
                       <h3><strong>{{q.Q}}</strong></h3> 
                       <p>asked by Bhanu Peddi <span class="circular pull-right"><img src="http://www.ideachampions.com/weblogs/strange-albert-einstein.jpg"  /></span></p>
                       <h3>{{q.Q.A1.A}}</h3>
                     </ul>
                   </li>
                  </div>
                  <div class="span2" style="background-color:#000000 border:solid 1px red"></div>
                </ul>
            </div>
        </ul>
    </div>

        
        <div class="results-bottom"></div>
        
    
	</div>

    
    
</body>
</html>